# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases & local files
*.db
instance/
.env
user_logins.txt
static/uploads/


# OS metadata
.DS_Store
Thumbs.db

# Scratch and custom scripts
scratch/

